
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}


body {
    background: url(_img/capa.png), url(_img/ruido.png),
     linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1 {
        font-size: 2em;
        font-size: 1em;
    }

    .btn-custom, .btn-custom2 {
        margin: 10px 15px;
    }
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom, .btn-custom2 {
        margin: 10px 15px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.602);
    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: #ffffff6e;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    background: #7c26f8;
}

.btn-custom:hover {
    transition: background 0.4s, color 0.4s;
    background: #5e00e2;
    color: rgb(226, 226, 226);
}

.btn-custom2 {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    border: 1px solid white;
}

.btn-custom2:hover {
    transition: background 0.4s, color 0.4s;
    background: #ffffff7a;
}

.btn-custom3 {
    color: rgb(31, 31, 31);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    border: 1px solid white;
    background: white;
}

.btn-custom3:hover {
    transition: background 0.4s, color 0.4s;
    color: black;
    background: rgba(253, 253, 253, 0.767);
}



#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos h2, h3 {
    color: #7c26f8;
}

#recursos {
    padding: 20px 0px;
}

#recursos h2 {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

#recursos p {
    color: rgb(238, 238, 238);
}

.albuns {
    padding: 10px 0px;
}

.rotacionar {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    padding-left: 80px;
}

h1 {
    color: white;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;

}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

footer {
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer a {
    color: rgb(179, 179, 179);
    font-size: 0.8em;
    text-decoration: none;
    margin-bottom: -8px;
}

footer a:hover {
    color: #9bf0e1;
    font-size: 0.8em;   
}

footer ul li {
    float: right;
    margin: 0px 5px;
}

